<%%= render EnView::PageComponent.new(prefix: "<%= singular_table_name %>.edit.") do |c| %>
    <%%= render "form", <%= singular_table_name %>: @<%= singular_table_name %> %>

    <%% c.with_footer_element do %>
        <%%= render EnView::ButtonComponent.new(label: t('ui.show'), link: <%= model_resource_name(prefix: "@") %>, scheme: :primary) %>
    <%% end %>
    <%% c.with_footer_element do %>
        <%%= render EnView::ButtonComponent.new(label: t('ui.back'), link: <%= index_helper(type: :path) %>) %>
    <%% end %>
<%% end %>